/*=============== VARIABLES CSS 
===============*/
:root {
  --header-height: 4.5rem;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /*========== Colors ==========*/
  --text-color: rgb(45, 44, 44);
  --nav-color: #2c2420;
  --hover-color: rgb(50, 121, 184);
  --back-color: #ffffff;
  /*========== Font and typography ==========*/
  --text-font:'Neue Haas Grotesk Display Pro', sans-serif; 
  --title-weight: 350;
  --text-weight: 450;
  --transition-color: color .4s;
}

/*=============== BASE ===============*/
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 780px;
  padding-inline: 1.5rem;
  margin: 0 auto;
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  background-color: var(--back-color);
  top:0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: var(--text-font)
}

.nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.nav__title,
.nav__toggle,
.nav__close{
  display: flex;
  color: var(--nav-color);
}

.nav__toggle{
  font-size: 1.7rem;
  cursor: pointer;
}

.nav__close{
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.nav__title{
  font-style: var(--text-font);
  font-size: 1.5rem;
  font-weight: var(--title-weight);
  // text-transform: uppercase;
  letter-spacing: 2px;
  transition: var(--transition-color);
  &:hover{
    color:var(--hover-color);
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav__item__icon{
  margin-right: -1.3rem;
  margin-top: 0.2rem;
}

.nav__item{
  margin-top: 0.7rem;
}

.nav__link,
.nav__link__icon{
  color: var(--nav-color);
  font-weight: var(--title-weight);
  font-size: 1.13rem;
  letter-spacing: 1px;
  transition: var(--transition-color);
  cursor: pointer;
  &:hover{
    color: var(--hover-color);
  }
}

.nav__link__icon{
  font-size: 1.8rem;
}


/*=============== HOME ===============*/

.home {
  border-top: 0.1px solid lightgray;
  padding-bottom: 60px;
}

.photo{
  float: left;
  padding: 25px 35px 8px 0;
}

.home__img{
  border-radius: 50%;;
  width: 250px;
}

.home__description{
  color: var(--text-color);
  text-align: left;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 14px;
  letter-spacing: 0.25px;
  font-weight: var(--text-weight);
  border-bottom: 0.1px solid lightgray;
}

.home__para{
  margin-bottom: 8px;
}

.para__link{
  color: var(--hover-color);
  font-weight: var(--text-weight);
  &:hover{
    text-decoration: underline 1.5px;
    color: var(--hover-color);
}
}

/*=============== BREAKPOINTS ===============*/
/*For small devices */
@media screen and (max-width: 340px){
  .container{
    margin-inline: 1rem;
  }
};

/*For medium devices */
@media screen and (max-width: 767px){

  :root {--header-height: 5.5rem;}

  .nav__menu{
    display:none;
  }

  .nav__title{
    font-size: 1.55rem;
    letter-spacing: 1px;
    }

  .nav__link{
    font-size: 1.3rem;
  }

  .nav__menu__list{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding-block: 3rem 1rem;
    box-shadow: 0 8px 20px lightgray;
    transition: top .4s;
    cursor: pointer;
    background-color: var(--back-color);
  }

  .nav__link__icon {
    margin-right: 1.5rem;
    font-size: 2rem;
  }

  .home{
    margin-inline: 0.7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    }

    .photo{
      padding-right: 0;
      margin-top: 20px;
    }

    .home__description{
      padding-bottom: 20px;
      font-size: 1rem;
      margin-bottom: 4rem;
    }
}

@media screen and (min-width: 767px){
  .nav{
    column-gap: 3rem;
  }

  .nav__list{
    display: flex;
    flex-direction: row;
    text-align: center;
    column-gap: 2rem; 
  }

  .nav__toggle,
  .nav__close,
  .nav__menu__list{
    display:none;
  }

  .nav__menu{
    margin-right: 30px;
  }
};


  




